.hobbies{
    top: 30%;
    left: 0%;
    width: 30%;
    margin: 30px;
}

.parrafo{
    top: 50%;
    left: 17%;
    width: 100%;
    display: flex;
    text-align: center;
}

.datos{
    width: 50%;
    margin: 30px;
}

.div-principal{
    display: flex;
    margin: 20px;
}

.title{
    text-align: center;
    align-content: center;
    margin: 10px;
    margin-top: 80px;
    position: relative;
    z-index: 2;
    padding: 20px;
}

.img-back{
    background-image: url(resource/Banner.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
}

.img-perfil{
    position: absolute;
    top: 0;
    left: 0%;
    width: 10%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.container{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0%;
    padding: 1px;
}
